@font-face {
        font-family: '7 GRAND FONT 2.0';
        src: url(https://lu9.st/lu9bot/7-grand-font-2-0.ttf);  format('truetype');
    }

@font-face {
        font-family: 'MARIO Font v3';
        src: url(https://lu9.st/lu9bot/MARIO_Font_v3_Solid.otf);  format('opentype');
    }

@font-face {
        font-family: 'Westminster';
        src: url(https://lu9.st/lu9bot/Westminster.ttf);  format('truetype');
    }

@font-face {
        font-family: 'Commodore 64 Pixelized';
        src: url(https://lu9.st/lu9bot/Commodore.ttf);  format('truetype');
    }

@font-face {
        font-family: 'Glitch0';
        src: url(https://lu9.st/lu9bot/Glitch0.ttf);  format('truetype');
    }

@font-face {
        font-family: 'Magic English';
        src: url(https://lu9.st/lu9bot/MagicEnglish.ttf);  format('truetype');
    }
@font-face {
        font-family: 'Impact';
        src: url(https://lu9.st/lu9bot/impact.ttf);  format('truetype');
    }
@font-face {
        font-family: 'Arial';
        src: url(https://lu9.st/lu9bot/arial.ttf);  format('truetype');
    }
@font-face {
        font-family: 'Arial';
        src: url(https://lu9.st/lu9bot/arialbd.ttf);  format('truetype');
        font-weight: bold;
    }
@font-face {
        font-family: 'Arial';
        src: url(https://lu9.st/lu9bot/ARIALNB.TTF);  format('truetype');
        font-weight: bold;
        font-stretch: condensed;
    }
@font-face {
        font-family: 'Comic Sans MS';
        src: url(https://lu9.st/lu9bot/comic.ttf);  format('truetype');
    }
@font-face {
        font-family: 'Courier New';
        src: url(https://lu9.st/lu9bot/CourierStd-Bold.otf);  format('opentype');
    }
@font-face {
        font-family: 'Press Start 2P';
        src: url(https://lu9.st/lu9bot/PressStart2P.ttf);  format('truetype');
    }
