div#container
{
   width: 970px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   background-image: url(images/user-bg-image.jpg);
   background-attachment: scroll;
   background-position: left top;
   background-repeat: repeat;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#Shape12
{
   position: absolute;
   left: 7px;
   top: 5px;
   width: 911px;
   height: 637px;
   background-color: #1E90FF;
   background-image: none;
   border: 0px #FFFFFF solid;
   border-radius: 6px;
   -moz-box-shadow: 0px 2px 8px rgba(0,0,0,0.47);
   -webkit-box-shadow: 0px 2px 8px rgba(0,0,0,0.47);
   box-shadow: 0px 2px 8px rgba(0,0,0,0.47);
}
#Shape12_text
{
   position: absolute;
   left: 3px;
   top: 311px;
   width: 903px;
   height: 321px;
   overflow: hidden;
   text-align: center;
}
#Shape1
{
   position: absolute;
   left: 7px;
   top: 5px;
   width: 348px;
   height: 437px;
   background-color: #4169E1;
   background-image: none;
   border: 0px #FFFFFF solid;
   border-radius: 6px;
   -moz-box-shadow: 0px 2px 8px rgba(0,0,0,0.47);
   -webkit-box-shadow: 0px 2px 8px rgba(0,0,0,0.47);
   box-shadow: 0px 2px 8px rgba(0,0,0,0.47);
}
#Shape1_text
{
   position: absolute;
   left: 3px;
   top: 211px;
   width: 340px;
   height: 221px;
   overflow: hidden;
   text-align: center;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text2 div
{
   text-align: center;
}
#Image1
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image2
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_BulletedList6
{
   border: 0px #C0C0C0 solid;
   background-color: transparent;
   background-image: none;
}
#wb_BulletedList6 .bullet
{
   color: #000000;
   float: left;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 0px;
   text-align: left;
   vertical-align: middle;
   width: 9px;
}
#wb_BulletedList6 .bullet-align
{
   display: inline-block;
   height: 100%;
   vertical-align: middle;
}
#wb_BulletedList6 .item
{
   float: left;
   padding: 0px 0 0px 0;
   vertical-align: top;
   width: 214px;
}
#wb_BulletedList6 .item0
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList6 .item1
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList6 .item2
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList6 .item3
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList6 .item4
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList6 .item5
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList6 .item6
{
   height: 20px;
   text-align: left;
}
#Shape3
{
   position: absolute;
   left: 7px;
   top: 5px;
   width: 595px;
   height: 337px;
   background-color: #20B2AA;
   background-image: none;
   border: 0px #FFFFFF solid;
   border-radius: 6px;
   -moz-box-shadow: 0px 2px 8px rgba(0,0,0,0.47);
   -webkit-box-shadow: 0px 2px 8px rgba(0,0,0,0.47);
   box-shadow: 0px 2px 8px rgba(0,0,0,0.47);
}
#Shape3_text
{
   position: absolute;
   left: 3px;
   top: 161px;
   width: 587px;
   height: 171px;
   overflow: hidden;
   text-align: center;
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text6 div
{
   text-align: left;
}
#wb_BulletedList7
{
   border: 0px #C0C0C0 solid;
   background-color: transparent;
   background-image: none;
}
#wb_BulletedList7 .bullet
{
   color: #000000;
   float: left;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 0px;
   text-align: left;
   vertical-align: middle;
   width: 9px;
}
#wb_BulletedList7 .bullet-align
{
   display: inline-block;
   height: 100%;
   vertical-align: middle;
}
#wb_BulletedList7 .item
{
   float: left;
   padding: 0px 0 0px 0;
   vertical-align: top;
   width: 214px;
}
#wb_BulletedList7 .item0
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList7 .item1
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList7 .item2
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList7 .item3
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList7 .item4
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList7 .item5
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList7 .item6
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList7 .item7
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList7 .item8
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList7 .item9
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList7 .item10
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList7 .item11
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList7 .item12
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList7 .item13
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList8
{
   border: 0px #C0C0C0 solid;
   background-color: transparent;
   background-image: none;
}
#wb_BulletedList8 .bullet
{
   color: #000000;
   float: left;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 0px;
   text-align: left;
   vertical-align: middle;
   width: 9px;
}
#wb_BulletedList8 .bullet-align
{
   display: inline-block;
   height: 100%;
   vertical-align: middle;
}
#wb_BulletedList8 .item
{
   float: left;
   padding: 0px 0 0px 0;
   vertical-align: top;
   width: 214px;
}
#wb_BulletedList8 .item0
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList8 .item1
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList8 .item2
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList8 .item3
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList8 .item4
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList8 .item5
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList8 .item6
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList8 .item7
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList8 .item8
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList8 .item9
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList8 .item10
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList8 .item11
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList8 .item12
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList8 .item13
{
   height: 20px;
   text-align: left;
}
#wb_Text7 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text7 div
{
   text-align: left;
}
#Shape4
{
   position: absolute;
   left: 7px;
   top: 5px;
   width: 595px;
   height: 317px;
   background-color: #CD5C5C;
   background-image: none;
   border: 0px #FFFFFF solid;
   border-radius: 6px;
   -moz-box-shadow: 0px 2px 8px rgba(0,0,0,0.47);
   -webkit-box-shadow: 0px 2px 8px rgba(0,0,0,0.47);
   box-shadow: 0px 2px 8px rgba(0,0,0,0.47);
}
#Shape4_text
{
   position: absolute;
   left: 3px;
   top: 151px;
   width: 587px;
   height: 161px;
   overflow: hidden;
   text-align: center;
}
#wb_Text8 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text8 div
{
   text-align: left;
}
#wb_BulletedList9
{
   border: 0px #C0C0C0 solid;
   background-color: transparent;
   background-image: none;
}
#wb_BulletedList9 .bullet
{
   color: #000000;
   float: left;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 0px;
   text-align: left;
   vertical-align: middle;
   width: 9px;
}
#wb_BulletedList9 .bullet-align
{
   display: inline-block;
   height: 100%;
   vertical-align: middle;
}
#wb_BulletedList9 .item
{
   float: left;
   padding: 0px 0 0px 0;
   vertical-align: top;
   width: 154px;
}
#wb_BulletedList9 .item0
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList9 .item1
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList9 .item2
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList9 .item3
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList9 .item4
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList9 .item5
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList9 .item6
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList9 .item7
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList9 .item8
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList9 .item9
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList9 .item10
{
   height: 20px;
   text-align: left;
}
#wb_Text9 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text9 div
{
   text-align: left;
}
#wb_BulletedList10
{
   border: 0px #C0C0C0 solid;
   background-color: transparent;
   background-image: none;
}
#wb_BulletedList10 .bullet
{
   color: #000000;
   float: left;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 0px;
   text-align: left;
   vertical-align: middle;
   width: 9px;
}
#wb_BulletedList10 .bullet-align
{
   display: inline-block;
   height: 100%;
   vertical-align: middle;
}
#wb_BulletedList10 .item
{
   float: left;
   padding: 0px 0 0px 0;
   vertical-align: top;
   width: 140px;
}
#wb_BulletedList10 .item0
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList10 .item1
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList10 .item2
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList10 .item3
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList10 .item4
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList10 .item5
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList10 .item6
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList10 .item7
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList10 .item8
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList10 .item9
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList10 .item10
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList10 .item11
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList10 .item12
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList11
{
   border: 0px #C0C0C0 solid;
   background-color: transparent;
   background-image: none;
}
#wb_BulletedList11 .bullet
{
   color: #000000;
   float: left;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 0px;
   text-align: left;
   vertical-align: middle;
   width: 9px;
}
#wb_BulletedList11 .bullet-align
{
   display: inline-block;
   height: 100%;
   vertical-align: middle;
}
#wb_BulletedList11 .item
{
   float: left;
   padding: 0px 0 0px 0;
   vertical-align: top;
   width: 140px;
}
#wb_BulletedList11 .item0
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList11 .item1
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList11 .item2
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList11 .item3
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList11 .item4
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList11 .item5
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList11 .item6
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList11 .item7
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList11 .item8
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList11 .item9
{
   height: 20px;
   text-align: left;
}
#Shape5
{
   position: absolute;
   left: 7px;
   top: 5px;
   width: 309px;
   height: 138px;
   background-color: #9370DB;
   background-image: none;
   border: 0px #FFFFFF solid;
   border-radius: 6px;
   -moz-box-shadow: 0px 2px 8px rgba(0,0,0,0.47);
   -webkit-box-shadow: 0px 2px 8px rgba(0,0,0,0.47);
   box-shadow: 0px 2px 8px rgba(0,0,0,0.47);
}
#Shape5_text
{
   position: absolute;
   left: 3px;
   top: 61px;
   width: 301px;
   height: 72px;
   overflow: hidden;
   text-align: center;
}
#wb_Text10 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text10 div
{
   text-align: left;
}
#Image3
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image4
{
   border-width: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text11 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text11 div
{
   text-align: center;
}
#Shape6
{
   position: absolute;
   left: 7px;
   top: 5px;
   width: 595px;
   height: 275px;
   background-color: #20B2AA;
   background-image: none;
   border: 0px #FFFFFF solid;
   border-radius: 6px;
   -moz-box-shadow: 0px 2px 8px rgba(0,0,0,0.47);
   -webkit-box-shadow: 0px 2px 8px rgba(0,0,0,0.47);
   box-shadow: 0px 2px 8px rgba(0,0,0,0.47);
}
#Shape6_text
{
   position: absolute;
   left: 3px;
   top: 130px;
   width: 587px;
   height: 140px;
   overflow: hidden;
   text-align: center;
}
#wb_Text12 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text12 div
{
   text-align: left;
}
#wb_BulletedList12
{
   border: 0px #C0C0C0 solid;
   background-color: transparent;
   background-image: none;
}
#wb_BulletedList12 .bullet
{
   color: #000000;
   float: left;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 0px;
   text-align: left;
   vertical-align: middle;
   width: 9px;
}
#wb_BulletedList12 .bullet-align
{
   display: inline-block;
   height: 100%;
   vertical-align: middle;
}
#wb_BulletedList12 .item
{
   float: left;
   padding: 0px 0 0px 0;
   vertical-align: top;
   width: 214px;
}
#wb_BulletedList12 .item0
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList12 .item1
{
   height: 22px;
   text-align: left;
}
#wb_BulletedList12 .item2
{
   height: 22px;
   text-align: left;
}
#wb_BulletedList12 .item3
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList12 .item4
{
   height: 22px;
   text-align: left;
}
#wb_BulletedList12 .item5
{
   height: 22px;
   text-align: left;
}
#wb_BulletedList12 .item6
{
   height: 22px;
   text-align: left;
}
#wb_BulletedList12 .item7
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList12 .item8
{
   height: 22px;
   text-align: left;
}
#wb_BulletedList12 .item9
{
   height: 22px;
   text-align: left;
}
#wb_Text13 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text13 div
{
   text-align: left;
}
#wb_BulletedList13
{
   border: 0px #C0C0C0 solid;
   background-color: transparent;
   background-image: none;
}
#wb_BulletedList13 .bullet
{
   color: #000000;
   float: left;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 0px;
   text-align: left;
   vertical-align: middle;
   width: 9px;
}
#wb_BulletedList13 .bullet-align
{
   display: inline-block;
   height: 100%;
   vertical-align: middle;
}
#wb_BulletedList13 .item
{
   float: left;
   padding: 0px 0 0px 0;
   vertical-align: top;
   width: 214px;
}
#wb_BulletedList13 .item0
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList13 .item1
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList13 .item2
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList13 .item3
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList13 .item4
{
   height: 20px;
   text-align: left;
}
#Image5
{
   border-width: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Shape7
{
   position: absolute;
   left: 7px;
   top: 5px;
   width: 219px;
   height: 317px;
   background-color: #6495ED;
   background-image: none;
   border: 0px #FFFFFF solid;
   border-radius: 6px;
   -moz-box-shadow: 0px 2px 8px rgba(0,0,0,0.47);
   -webkit-box-shadow: 0px 2px 8px rgba(0,0,0,0.47);
   box-shadow: 0px 2px 8px rgba(0,0,0,0.47);
}
#Shape7_text
{
   position: absolute;
   left: 3px;
   top: 151px;
   width: 211px;
   height: 161px;
   overflow: hidden;
   text-align: center;
}
#wb_Text14 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text14 div
{
   text-align: left;
}
#wb_BulletedList14
{
   border: 0px #C0C0C0 solid;
   background-color: transparent;
   background-image: none;
}
#wb_BulletedList14 .bullet
{
   color: #000000;
   float: left;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 0px;
   text-align: left;
   vertical-align: middle;
   width: 9px;
}
#wb_BulletedList14 .bullet-align
{
   display: inline-block;
   height: 100%;
   vertical-align: middle;
}
#wb_BulletedList14 .item
{
   float: left;
   padding: 0px 0 0px 0;
   vertical-align: top;
   width: 214px;
}
#wb_BulletedList14 .item0
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList14 .item1
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList14 .item2
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList14 .item3
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList14 .item4
{
   height: 20px;
   text-align: left;
}
#Image6
{
   border-width: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Shape8
{
   position: absolute;
   left: 7px;
   top: 5px;
   width: 219px;
   height: 317px;
   background-color: #BA55D3;
   background-image: none;
   border: 0px #FFFFFF solid;
   border-radius: 6px;
   -moz-box-shadow: 0px 2px 8px rgba(0,0,0,0.47);
   -webkit-box-shadow: 0px 2px 8px rgba(0,0,0,0.47);
   box-shadow: 0px 2px 8px rgba(0,0,0,0.47);
}
#Shape8_text
{
   position: absolute;
   left: 3px;
   top: 151px;
   width: 211px;
   height: 161px;
   overflow: hidden;
   text-align: center;
}
#wb_Text15 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text15 div
{
   text-align: left;
}
#Shape9
{
   position: absolute;
   left: 7px;
   top: 5px;
   width: 219px;
   height: 317px;
   background-color: #32CD32;
   background-image: none;
   border: 0px #FFFFFF solid;
   border-radius: 6px;
   -moz-box-shadow: 0px 2px 8px rgba(0,0,0,0.47);
   -webkit-box-shadow: 0px 2px 8px rgba(0,0,0,0.47);
   box-shadow: 0px 2px 8px rgba(0,0,0,0.47);
}
#Shape9_text
{
   position: absolute;
   left: 3px;
   top: 151px;
   width: 211px;
   height: 161px;
   overflow: hidden;
   text-align: center;
}
#wb_Text17 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text17 div
{
   text-align: left;
}
#wb_BulletedList15
{
   border: 0px #C0C0C0 solid;
   background-color: transparent;
   background-image: none;
}
#wb_BulletedList15 .bullet
{
   color: #000000;
   float: left;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 0px;
   text-align: left;
   vertical-align: middle;
   width: 9px;
}
#wb_BulletedList15 .bullet-align
{
   display: inline-block;
   height: 100%;
   vertical-align: middle;
}
#wb_BulletedList15 .item
{
   float: left;
   padding: 0px 0 0px 0;
   vertical-align: top;
   width: 210px;
}
#wb_BulletedList15 .item0
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList15 .item1
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList15 .item2
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList15 .item3
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList15 .item4
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList15 .item5
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList15 .item6
{
   height: 20px;
   text-align: left;
}
#Shape10
{
   position: absolute;
   left: 7px;
   top: 5px;
   width: 219px;
   height: 317px;
   background-color: #BA55D3;
   background-image: none;
   border: 0px #FFFFFF solid;
   border-radius: 6px;
   -moz-box-shadow: 0px 2px 8px rgba(0,0,0,0.47);
   -webkit-box-shadow: 0px 2px 8px rgba(0,0,0,0.47);
   box-shadow: 0px 2px 8px rgba(0,0,0,0.47);
}
#Shape10_text
{
   position: absolute;
   left: 3px;
   top: 151px;
   width: 211px;
   height: 161px;
   overflow: hidden;
   text-align: center;
}
#wb_Text18 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text18 div
{
   text-align: left;
}
#Image8
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text19 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text19 div
{
   text-align: left;
}
#Image7
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Shape11
{
   position: absolute;
   left: 7px;
   top: 5px;
   width: 595px;
   height: 337px;
   background-color: #20B2AA;
   background-image: none;
   border: 0px #FFFFFF solid;
   border-radius: 6px;
   -moz-box-shadow: 0px 2px 8px rgba(0,0,0,0.47);
   -webkit-box-shadow: 0px 2px 8px rgba(0,0,0,0.47);
   box-shadow: 0px 2px 8px rgba(0,0,0,0.47);
}
#Shape11_text
{
   position: absolute;
   left: 3px;
   top: 161px;
   width: 587px;
   height: 171px;
   overflow: hidden;
   text-align: center;
}
#wb_Text16 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text16 div
{
   text-align: left;
}
#wb_BulletedList16
{
   border: 0px #C0C0C0 solid;
   background-color: transparent;
   background-image: none;
}
#wb_BulletedList16 .bullet
{
   color: #000000;
   float: left;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 0px;
   text-align: left;
   vertical-align: middle;
   width: 9px;
}
#wb_BulletedList16 .bullet-align
{
   display: inline-block;
   height: 100%;
   vertical-align: middle;
}
#wb_BulletedList16 .item
{
   float: left;
   padding: 0px 0 0px 0;
   vertical-align: top;
   width: 376px;
}
#wb_BulletedList16 .item0
{
   height: 54px;
   text-align: left;
}
#wb_BulletedList16 .item1
{
   height: 70px;
   text-align: left;
}
#wb_BulletedList16 .item2
{
   height: 36px;
   text-align: left;
}
#wb_BulletedList16 .item3
{
   height: 36px;
   text-align: left;
}
#wb_BulletedList16 .item4
{
   height: 20px;
   text-align: left;
}
#Image9
{
   border-width: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text20 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text20 div
{
   text-align: left;
}
#Shape2
{
   position: absolute;
   left: 7px;
   top: 5px;
   width: 595px;
   height: 330px;
   background-color: #3CB371;
   background-image: none;
   border: 0px #FFFFFF solid;
   border-radius: 6px;
   -moz-box-shadow: 0px 2px 8px rgba(0,0,0,0.47);
   -webkit-box-shadow: 0px 2px 8px rgba(0,0,0,0.47);
   box-shadow: 0px 2px 8px rgba(0,0,0,0.47);
}
#Shape2_text
{
   position: absolute;
   left: 3px;
   top: 157px;
   width: 587px;
   height: 168px;
   overflow: hidden;
   text-align: center;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#wb_BulletedList1
{
   border: 0px #C0C0C0 solid;
   background-color: transparent;
   background-image: none;
}
#wb_BulletedList1 .bullet
{
   color: #000000;
   float: left;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 0px;
   text-align: left;
   vertical-align: middle;
   width: 9px;
}
#wb_BulletedList1 .bullet-align
{
   display: inline-block;
   height: 100%;
   vertical-align: middle;
}
#wb_BulletedList1 .item
{
   float: left;
   padding: 0px 0 0px 0;
   vertical-align: top;
   width: 234px;
}
#wb_BulletedList1 .item0
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList1 .item1
{
   height: 36px;
   text-align: left;
}
#wb_BulletedList1 .item2
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList1 .item3
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList1 .item4
{
   height: 20px;
   text-align: left;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text4 div
{
   text-align: left;
}
#wb_BulletedList2
{
   border: 0px #C0C0C0 solid;
   background-color: transparent;
   background-image: none;
}
#wb_BulletedList2 .bullet
{
   color: #000000;
   float: left;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 0px;
   text-align: left;
   vertical-align: middle;
   width: 9px;
}
#wb_BulletedList2 .bullet-align
{
   display: inline-block;
   height: 100%;
   vertical-align: middle;
}
#wb_BulletedList2 .item
{
   float: left;
   padding: 0px 0 0px 0;
   vertical-align: top;
   width: 214px;
}
#wb_BulletedList2 .item0
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList2 .item1
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList2 .item2
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList2 .item3
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList2 .item4
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList3
{
   border: 0px #C0C0C0 solid;
   background-color: transparent;
   background-image: none;
}
#wb_BulletedList3 .bullet
{
   color: #000000;
   float: left;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 0px;
   text-align: left;
   vertical-align: middle;
   width: 9px;
}
#wb_BulletedList3 .bullet-align
{
   display: inline-block;
   height: 100%;
   vertical-align: middle;
}
#wb_BulletedList3 .item
{
   float: left;
   padding: 0px 0 0px 0;
   vertical-align: top;
   width: 154px;
}
#wb_BulletedList3 .item0
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList3 .item1
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList3 .item2
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList3 .item3
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList3 .item4
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList3 .item5
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList3 .item6
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList3 .item7
{
   height: 36px;
   text-align: left;
}
#wb_BulletedList3 .item8
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList3 .item9
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList3 .item10
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList3 .item11
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList3 .item12
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList3 .item13
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList3 .item14
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList4
{
   border: 0px #C0C0C0 solid;
   background-color: transparent;
   background-image: none;
}
#wb_BulletedList4 .bullet
{
   color: #000000;
   float: left;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 0px;
   text-align: left;
   vertical-align: middle;
   width: 9px;
}
#wb_BulletedList4 .bullet-align
{
   display: inline-block;
   height: 100%;
   vertical-align: middle;
}
#wb_BulletedList4 .item
{
   float: left;
   padding: 0px 0 0px 0;
   vertical-align: top;
   width: 154px;
}
#wb_BulletedList4 .item0
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList4 .item1
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList4 .item2
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList4 .item3
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList4 .item4
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList4 .item5
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList4 .item6
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList4 .item7
{
   height: 20px;
   text-align: left;
}
#wb_Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text5 div
{
   text-align: left;
}
#wb_BulletedList5
{
   border: 0px #C0C0C0 solid;
   background-color: transparent;
   background-image: none;
}
#wb_BulletedList5 .bullet
{
   color: #000000;
   float: left;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 0px;
   text-align: left;
   vertical-align: middle;
   width: 9px;
}
#wb_BulletedList5 .bullet-align
{
   display: inline-block;
   height: 100%;
   vertical-align: middle;
}
#wb_BulletedList5 .item
{
   float: left;
   padding: 0px 0 0px 0;
   vertical-align: top;
   width: 154px;
}
#wb_BulletedList5 .item0
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList5 .item1
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList5 .item2
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList5 .item3
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList5 .item4
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList5 .item5
{
   height: 20px;
   text-align: left;
}
#wb_Text21 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text21 div
{
   text-align: left;
}
#wb_BulletedList17
{
   border: 0px #C0C0C0 solid;
   background-color: transparent;
   background-image: none;
}
#wb_BulletedList17 .bullet
{
   color: #000000;
   float: left;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 0px;
   text-align: left;
   vertical-align: middle;
   width: 9px;
}
#wb_BulletedList17 .bullet-align
{
   display: inline-block;
   height: 100%;
   vertical-align: middle;
}
#wb_BulletedList17 .item
{
   float: left;
   padding: 0px 0 0px 0;
   vertical-align: top;
   width: 234px;
}
#wb_BulletedList17 .item0
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList17 .item1
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList17 .item2
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList17 .item3
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList17 .item4
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList17 .item5
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList17 .item6
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList17 .item7
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList17 .item8
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList17 .item9
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList17 .item10
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList17 .item11
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList19
{
   border: 0px #C0C0C0 solid;
   background-color: transparent;
   background-image: none;
}
#wb_BulletedList19 .bullet
{
   color: #000000;
   float: left;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 0px;
   text-align: left;
   vertical-align: middle;
   width: 9px;
}
#wb_BulletedList19 .bullet-align
{
   display: inline-block;
   height: 100%;
   vertical-align: middle;
}
#wb_BulletedList19 .item
{
   float: left;
   padding: 0px 0 0px 0;
   vertical-align: top;
   width: 166px;
}
#wb_BulletedList19 .item0
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList19 .item1
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList19 .item2
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList19 .item3
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList19 .item4
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList19 .item5
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList19 .item6
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList19 .item7
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList19 .item8
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList19 .item9
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList19 .item10
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList19 .item11
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList19 .item12
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList19 .item13
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList19 .item14
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList20
{
   border: 0px #C0C0C0 solid;
   background-color: transparent;
   background-image: none;
}
#wb_BulletedList20 .bullet
{
   color: #000000;
   float: left;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 0px;
   text-align: left;
   vertical-align: middle;
   width: 9px;
}
#wb_BulletedList20 .bullet-align
{
   display: inline-block;
   height: 100%;
   vertical-align: middle;
}
#wb_BulletedList20 .item
{
   float: left;
   padding: 0px 0 0px 0;
   vertical-align: top;
   width: 206px;
}
#wb_BulletedList20 .item0
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList20 .item1
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList20 .item2
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList20 .item3
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList20 .item4
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList20 .item5
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList20 .item6
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList20 .item7
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList20 .item8
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList20 .item9
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList20 .item10
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList20 .item11
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList20 .item12
{
   height: 20px;
   text-align: left;
}
#wb_Text22 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text22 div
{
   text-align: left;
}
#wb_BulletedList18
{
   border: 0px #C0C0C0 solid;
   background-color: transparent;
   background-image: none;
}
#wb_BulletedList18 .bullet
{
   color: #000000;
   float: left;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 0px;
   text-align: left;
   vertical-align: middle;
   width: 9px;
}
#wb_BulletedList18 .bullet-align
{
   display: inline-block;
   height: 100%;
   vertical-align: middle;
}
#wb_BulletedList18 .item
{
   float: left;
   padding: 0px 0 0px 0;
   vertical-align: top;
   width: 234px;
}
#wb_BulletedList18 .item0
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList18 .item1
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList18 .item2
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList18 .item3
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList18 .item4
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList18 .item5
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList18 .item6
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList18 .item7
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList18 .item8
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList18 .item9
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList18 .item10
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList18 .item11
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList18 .item12
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList18 .item13
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList18 .item14
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList21
{
   border: 0px #C0C0C0 solid;
   background-color: transparent;
   background-image: none;
}
#wb_BulletedList21 .bullet
{
   color: #000000;
   float: left;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 0px;
   text-align: left;
   vertical-align: middle;
   width: 9px;
}
#wb_BulletedList21 .bullet-align
{
   display: inline-block;
   height: 100%;
   vertical-align: middle;
}
#wb_BulletedList21 .item
{
   float: left;
   padding: 0px 0 0px 0;
   vertical-align: top;
   width: 234px;
}
#wb_BulletedList21 .item0
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList21 .item1
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList21 .item2
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList21 .item3
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList21 .item4
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList21 .item5
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList21 .item6
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList21 .item7
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList21 .item8
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList21 .item9
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList21 .item10
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList21 .item11
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList21 .item12
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList21 .item13
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList21 .item14
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList21 .item15
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList22
{
   border: 0px #C0C0C0 solid;
   background-color: transparent;
   background-image: none;
}
#wb_BulletedList22 .bullet
{
   color: #000000;
   float: left;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 0px;
   text-align: left;
   vertical-align: middle;
   width: 9px;
}
#wb_BulletedList22 .bullet-align
{
   display: inline-block;
   height: 100%;
   vertical-align: middle;
}
#wb_BulletedList22 .item
{
   float: left;
   padding: 0px 0 0px 0;
   vertical-align: top;
   width: 234px;
}
#wb_BulletedList22 .item0
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList22 .item1
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList22 .item2
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList22 .item3
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList22 .item4
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList22 .item5
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList22 .item6
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList22 .item7
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList22 .item8
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList22 .item9
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList22 .item10
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList22 .item11
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList22 .item12
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList22 .item13
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList22 .item14
{
   height: 20px;
   text-align: left;
}
#wb_Text23 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text23 div
{
   text-align: left;
}
#wb_BulletedList23
{
   border: 0px #C0C0C0 solid;
   background-color: transparent;
   background-image: none;
}
#wb_BulletedList23 .bullet
{
   color: #000000;
   float: left;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 0px;
   text-align: left;
   vertical-align: middle;
   width: 9px;
}
#wb_BulletedList23 .bullet-align
{
   display: inline-block;
   height: 100%;
   vertical-align: middle;
}
#wb_BulletedList23 .item
{
   float: left;
   padding: 0px 0 0px 0;
   vertical-align: top;
   width: 234px;
}
#wb_BulletedList23 .item0
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList23 .item1
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList23 .item2
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList23 .item3
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList23 .item4
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList23 .item5
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList23 .item6
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList23 .item7
{
   height: 22px;
   text-align: left;
}
#wb_BulletedList23 .item8
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList23 .item9
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList23 .item10
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList23 .item11
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList23 .item12
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList23 .item13
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList23 .item14
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList23 .item15
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList23 .item16
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList23 .item17
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList23 .item18
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList23 .item19
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList23 .item20
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList23 .item21
{
   height: 20px;
   text-align: left;
}
